.container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.about {
    width: 60%;
    text-align: center;
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.6;
}

.about p {
    margin-bottom: 20px;
}

body {
    background-image: url(/images/img1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;

}